---
import Welcome from '../components/Welcome.astro';
import Timeline from '../components/Timeline.astro';
import MainLayout from '../layouts/MainLayout.astro';
import Skills from '../components/Skills.astro';
---

<MainLayout title="CrooksCodes">
    <div class="flex-col h-screen items-center justify-center w-6/12 mx-auto">
        <Welcome />

        <div class="flex justify-evenly items-center">
            <Timeline />
            <Skills />
        </div>
    </div>
</MainLayout>
