---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="CrooksCodes">
    <div class="w-6/12 mx-auto">
        <h1 class="text-white text-2xl text-center">Experience</h1>
    </div>
</MainLayout>
