<div class="z-50 text-white text-2xl font-bold">
    <a href="/" class="text-white decoration-purple-700 hover:text-purple-700">
        Tom Crooks
    </a>
    <span class="block h-1 w-34 bg-purple-600"></span>
    <p class="text-sm cursor-default text-purple-600">Software Engineer</p>
</div>
