---
import Menu from './Menu.tsx';
import Logo from './Logo.astro';

let showMenu = false;

const toggleMenu = () => {
    showMenu = !showMenu;
};
---

<header class="text-white">
    <nav
        class="flex-col items-center justify-center w-6/12 mx-auto px-6 py-3 border-b border-purple-700"
    >
        <div class="flex h-24 items-center justify-between">
            <Logo />
            <Menu client:load />
        </div>
    </nav>
</header>
