<div
    class="p-8 pr-12 h-full rounded-lg border border-violet-500 bg bg-gradient-to-b from-transparent via-violet-900 to-violet-500"
>
    <h2 class="text-2xl font-bold text-zinc-200 mb-12">Skills</h2>

    <ul class="flex flex-col list-inside list-disc rounded-lg w-full gap-2">
        <li class="flex items-center gap-4 text-amber-600">
            <img src="/tech-svg-icons/html.svg" />HTML
        </li>
        <li class="flex items-center gap-4 text-blue-400">
            <img src="/tech-svg-icons/css.svg" />CSS
        </li>
        <li class="flex items-center gap-4 text-blue-400">
            <img src="/tech-svg-icons/typescript.svg" />TypeScript
        </li>
        <li class="flex items-center gap-4 text-cyan-400">
            <img src="/tech-svg-icons/react.svg" />React
        </li>
        <li class="flex items-center gap-4 text-black">
            <img src="/tech-svg-icons/astro.svg" />Astro
        </li>
        <li class="flex items-center gap-4 text-green-500">
            <img src="/tech-svg-icons/mongo.svg" />Mongo
        </li>
        <li class="flex items-center gap-4 text-lime-400">
            <img src="/tech-svg-icons/node.svg" />Nodejs
        </li>
        <li class="flex items-center gap-4 text-cyan-300">
            <img src="/tech-svg-icons/go.svg" />Go
        </li>
        <li class="flex items-center gap-4 text-black">
            <img src="/tech-svg-icons/aws.svg" />AWS
        </li>
    </ul>
</div>
