<div class="p-2 rounded-lg">
    <ol class="relative border-s border-white">
        <li class="mb-6 ml-8 ms-4">
            <span class="flex absolute w-4 h-4 mt-8 -start-2">
                <span
                    class="absolute inline-flex h-full w-full animate-ping rounded-full bg-green-400 opacity-75"
                ></span>
                <span
                    class="relative inline-flex h-4 w-4 rounded-full bg-green-500"
                ></span>
            </span>
            <time
                class="mb-1 text-xs font-normal leading-none text-gray-400 dark:text-gray-500"
                >February 2024 - Present</time
            >
            <h3 class="text-sm font-semibold text-gray-900 dark:text-white">
                Lead Software Engineer
                <span
                    class="bg-violet-500 text-white text-xs font-medium me-2 ml-4 px-2.5 py-0.5 rounded-full"
                    >Present</span
                >
            </h3>
            <p
                class="mb-4 text-sm font-normal text-gray-500 dark:text-gray-400"
            >
                Pimberly, Manchester
            </p>
        </li>
        <li class="mb-6 ml-8 ms-4">
            <div
                class="absolute w-3 h-3 bg-gray-400 rounded-full mt-8 -start-1.5 border border-white"
            >
            </div>
            <time
                class="mb-1 text-xs font-normal leading-none text-gray-400 dark:text-gray-500"
                >September 2022</time
            >
            <h3 class="text-sm font-semibold text-gray-900 dark:text-white">
                Senior Software Engineer
            </h3>
            <p class="text-sm font-normal text-gray-500 dark:text-gray-400">
                Pimberly, Manchester
            </p>
        </li>
        <li class="mb-6 ml-8 ms-4">
            <div
                class="absolute w-3 h-3 bg-gray-400 rounded-full mt-8 -start-1.5 border border-white"
            >
            </div>
            <time
                class="mb-1 text-xs font-normal leading-none text-gray-400 dark:text-gray-500"
                >September 2019</time
            >
            <h3 class="text-sm font-semibold text-gray-900 dark:text-white">
                Software Engineer
            </h3>
            <p class="text-sm font-normal text-gray-500 dark:text-gray-400">
                Pimberly, Manchester
            </p>
        </li>
        <li class="mb-6 ml-8 ms-4">
            <div
                class="absolute w-3 h-3 bg-gray-400 rounded-full mt-8 -start-1.5 border border-white"
            >
            </div>
            <time
                class="mb-1 text-xs font-normal leading-none text-gray-400 dark:text-gray-500"
                >September 2017</time
            >
            <h3 class="text-sm font-semibold text-gray-900 dark:text-white">
                Junior Developer
            </h3>
            <p class="text-sm font-normal text-gray-500 dark:text-gray-400">
                Pimberly, Manchester
            </p>
        </li>
        <li class="mb-6 ml-8 ms-4">
            <div
                class="absolute w-3 h-3 bg-gray-400 rounded-full mt-8 -start-1.5 border border-white"
            >
            </div>
            <time
                class="mb-1 text-xs font-normal leading-none text-gray-400 dark:text-gray-500"
                >September 2016</time
            >
            <h3 class="text-sm font-semibold text-gray-900 dark:text-white">
                E-Learning Developer
            </h3>
            <p class="text-sm font-normal text-gray-500 dark:text-gray-400">
                Phoenix Medical Supplies, Preston Brook
            </p>
        </li>
        <li class="ms-4 ml-8">
            <div
                class="absolute w-3 h-3 bg-gray-400 rounded-full mt-8 -start-1.5 border border-white"
            >
            </div>
            <time
                class="mb-1 text-xs font-normal leading-none text-gray-400 dark:text-gray-500"
                >September 2013</time
            >
            <h3 class="text-sm font-semibold text-gray-900 dark:text-white">
                Computing & Web Development
            </h3>
            <p class="text-sm font-normal text-gray-500 dark:text-gray-400">
                University of Bolton, Bolton
            </p>
        </li>
    </ol>
</div>
